PORT=<please insert here port>
DB_HOST=<please insert here mongodb connect string>
JWT_SECRET=<please insert here secret>
CLOUDINARY_NAME=<please insert here name>
CLOUDINARY_KEY=<please insert here key>
CLOUDINARY_SECRET=<please insert here secret>
SENDGRID_API_KEY=<please insert here key>
CLIENT_ID=<please insert here client>
CLIENT_SECRET=<please insert here client secret>
GOOGLE_OAUTH_REDIRECT_URL=<please insert here OAUTH_REDIRECT_URL>
BASE_URL=<please insert here base url>
EMAIL=<please insert here email>
